.home-page {
    font-family: 'MuseoModerno', cursive;
    font-size: 16px;
    font-weight: 300;
    background-color: #000;
    background: url(/images/body-background.png) top center no-repeat;
    min-height: 100vh;
}